body
{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0;
}

#brand, #menuBrand
{
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    
}

.divider
{
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20vh;
}

#divider1
{
    background-image: url("divider1.jpg");
}

#divider2
{
    background-image: url("divider2.jpg");
}

html
{
    scroll-behavior: smooth;
}

.slide
{
    flex-basis: 100vh;
}

video
{
    display: block;
    height: 80vh;
    object-fit: cover;
    width: 100%;
}