#menu
{
    background-color: #d4d4d4;
    color: black;
    height: 100%;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    transition: 0.4s;
    width: 0;
    z-index: 1;
}

#menuHeader
{
    color:white;
    background-color: black;
    font-size: 20pt;
    height: 20vh;
    text-align: center;
}

.menuItem
{
    color: inherit;
    display: block;
    font-size: 20pt;
    height: 80px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: 0.4s;
}

.menuItem:hover
{
    background-color: black;
    color: white;
}

.menuItemText
{
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
}

#menuList
{
    margin: 0;
    list-style-type: none;
    padding: 0;
}